#home_nav_bar{
  background-color: #373737;
  margin-top: 20px;
}

#home_nav_drop_a{
  background-color: #373737;
}

#home_nav_drop_ul{
  background-color: #373737;
}

#home_nav_drop_ul li a:hover{
  background-color: #83ded6;
}

#home_nav_ul li a,#home_logo{
  color: white;
}
