#register_user_banner_h3{
  text-align: center;
  margin-bottom: 50px;
}

#register_user_banner_profileImage{
  width: 6em;
  height: 7em;
  border-radius: 35%;
  border: 3px solid black;
}

#register_user_banner_button_finish{
  font-size: 20px;
}

#register_user_banner_customizeBanner{
  padding: 14px;
  background-color: #d44027;
  border: 2px solid black;
}

#register_user_banner_customizeBanner>*{
  color: white;
}

#register_user_banner_SillouetImage{
  float: right;
  width: 100px;
}

#register_user_banner_sillouet{
  width: 100px;
  background-color: #d44027;
  border-radius: 100px;
  padding: 10px;
}
.register_user_banner_sil{
  width: 100px;
  border-radius: 100px;
  padding: 10px;
}

#register_user_banner_modal_div{
  margin-left: 2em;
}
