#register_div_main{
  background-color: #373737;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

#register_h3_signUp{
  color: white;
  text-align: center;
  background-color: #696868;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0px;
}

.form-group label{
  color: white;
}

.register_form_info{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.register_form_info input{
  background-color: #696868;
  color: white;
  font-size: 20px;
  border-color: #696868;
}

.register_form_signIn label{
  color: white;
  display: block;
  text-align: center;
}

.register_form_signIn a{
  background-color: #696868;
  color: white;
  margin-bottom: 10%;
  font-weight: bold;
}

.register_form_signIn a:hover{
  color:#373737;
}

#register_hr{
  border-top: dashed 3px;
  color: #696868;
}

#register_button_signUp{
  background-color: #64adc3;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

#register_button_signUp:hover{
  color: #373737;
}
