#register_user_images_userImage {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: solid 5px #373737;
}

#register_user_images_h3{
  text-align: center;
  margin-bottom: 50px;
}

#register_user_images_div_folder{
  text-align: center;
  margin-top: 50px;
}

#register_user_images_div_skip{
  float: right;
}
