#user_content_row_userInfo img{
  width: 100px;
  height: 100px;
  padding: 0;
}

#user_content_div_main{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#user_content_ul_pills{
    margin-bottom: 30px;
}

#user_content_div_body {
    background-color: #bfbfbf;
}
