#user_content_row_userInfo img{
  width: 100px;
  height: 100px;
  padding: 0;
}

#user_content_div_main{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#user_content_ul_pills{
    margin-bottom: 30px;
}

#user_content_div_body {
    background-color: #bfbfbf;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes follow-animation {
  from {background: white; color: #3399FF; width: 85px; left: 50px;}
  to {background: #337ab7; border-color: #337ab7; color: #ffffff; width: 120px; left: 35px;}
}
@-webkit-keyframes unfollow-animation {
  from {background: #337ab7; color: #ffffff; width: 120px; left: 35px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 85px; left: 50px;}
}

/* Standard syntax */
@keyframes follow-animation {
  from {background: white; color: #3399FF; width: 85px; left: 50px;}
  to {background: #337ab7; border-color: #337ab7; color: #ffffff; width: 120px; left: 35px;}
}
@keyframes unfollow-animation {
  from {background: #337ab7; color: #ffffff; width: 120px; left: 35px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 85px; left: 50px;}
}

#user_content_input_follow {
  -webkit-appearance: none;
}

#user_content_input_follow:after {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: hand;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  content: '+ Follow';
  -webkit-animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}

#user_content_input_follow:checked:after {
  content: 'Following';
  -webkit-animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}
