<div id="main">
    <div class="col-md-12">
        <!-- view of clickable images -->
        <div class="row cardCollection" ng-repeat="x in collImageSource">
            <a  href="">
                <img id=card-{{x.Card.id}} class="img-responsive" ng-click="cardClick(x)" data-toggle="modal" data-target="#{{x.Card.id}}" ng-src={{x.Card.imageUrl}} alt={{x.Card.id}}>
            </a>
        </div>
    </div>

    <!-- modal setup for cards -->
    <div ng-repeat="x in collImageSource">
        <div class="modal fade" id={{x.Card.id}} data={{x._id}} >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="subType" ng-if=" x.Card.supertype =='Pokémon' "> <p> {{x.Card.subtype}} </p>
                        <h3 class="modal-title h3name"> </span> {{x.Card.name}}
                            <span class="right"> {{x.Card.hp}} &nbsp; <img class="img-responsive typePokemon" ng-repeat='img in x.Card.types' ng-src=images/type/{{img}}.png > </span>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                    <img ng-src={{x.Card.imageUrl}}>
                              </div>
                              <div class="col-md-6">
                                <div ng-if='x.Card.ability[0]'>
                                    <div class="row">
                                        <p>{{x.Card.ability[0].name}}</p>
                                        <p>{{x.Card.ability[0].text}}</p>
                                    </div>
                                    <div class="row">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row" ng-if='x.Card.attacks[0]'>
                                    <div class="row">
                                        <img ng-repeat="p in x.Card.attacks[0].cost track by $index" class="img-responsive energyType" ng-src=images/type/{{p}}.png />
                                    <p class='lineText' >{{x.Card.attacks[0].name}} {{x.Card.attacks[0].damage}}</p>
                                    </div>
                                    <div class="row">
                                        <p ng-if='x.Card.attacks[0].text' class="nameText" >{{x.Card.attacks[0].text}}</p>
                                    </div>
                                    <div class="row">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row" ng-if='x.Card.attacks[1]'>
                                    <div class="row">
                                        <img ng-repeat="p in x.Card.attacks[1].cost track by $index" class="img-responsive energyType" ng-src=images/type/{{p}}.png />
                                        <p class="lineText">{{x.Card.attacks[1].name}} {{x.Card.attacks[1].damage}}</p>
                                    </div>
                                    <div class="row">
                                        <p ng-if='x.Card.attacks[1].text' class="nameText">{{x.Card.attacks[1].text}}</p>
                                    </div>
                                    <div class="row">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row" ng-if='x.Card.attacks[2]'>
                                    <div class="row">
                                        <img  ng-repeat="p in x.Card.attacks[2].cost track by $index" class="img-responsive energyType" ng-src=images/type/{{p}}.png />
                                        <p class="lineText">{{x.Card.attacks[2].name}} {{x.Card.attacks[2].damage}}</p>
                                    </div>
                                    <div class="row">
                                        <p ng-if='x.Card.attacks[2].text' class="nameText">{{x.Card.attacks[2].text}}</p>
                                    </div>
                                    <div class="row">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row" ng-if="!x.Card.nationalPokedexNumber">
                                    <div ng-if='x.Card.text'>
                                        <p>{{x.Card.text}}</p>
                                    </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button ng-click="quantityHandler(0)" id='minus'  type='button' class='btn btn-danger btn-number' data-type='minus' data-field='quant[2]'>
                                    <span class='glyphicon glyphicon-minus'></span>
                                </button>
                            </span>
                            <input ng-blur="quantityHandler(2)" type='number' id='value-{{x.Card.id}}' name='quant[2]' class='form-control input-number' ng-value={{x.Card.quantity}} step="any" model="cardIdQuantity" min='0' max='100' >
                            <span class='input-group-btn'>
                                <button ng-click="quantityHandler(1)" type='button' id='plus' class='btn btn-success btn-number' data-type='plus' data-field='quant[2]'>
                                    <span class='glyphicon glyphicon-plus'></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- End of Main -->
