<div class="col-md-8 col-md-offset-2" id="register_user_images_loginError">
  <div class="row">
    <h3 id="register_user_images_h3">Do you want to add a picture to your profile?</h3>
  </div>
  <div class="row">
    <img id="register_user_images_userImage" ng-src={{Register_User_Image_userImage}} />
  </div>
  <form id="register_user_images_div_folder" ng-submit="submit()">
      <input class="btn btn-default col-md-5" type="file" id="register_user_images_file" for="">
      <button class="btn btn-default col-md-2 col-md-offset-2" ng-click="add()" type="submit"  >Submit</button>
  </form>
  <div id="register_user_images_div_skip">
    <a id="register_user_images_a_skip" ng-click="Redirect()" class="btn btn-default" role="button">Skip</a>
  </div>
</div>
