<div class="col-md-8 col-md-offset-2" id="register_user_images_loginError">
  <div class="col-md-12">
    <h3 id="register_user_images_h3">Do you want to add a picture to your profile?</h3>
  </div>
  <div class="col-md-12">
    <img id="register_user_images_userImage" src="/images/users/blank_user.png" />
  </div>
  <div id="register_user_images_div_folder" class="col-md-12">
    <input class="btn btn-default" type="button" value="Choose from folder">
  </div>
  <div id="register_user_images_div_skip">
    <a id="register_user_images_a_skip" ng-click="Redirect()" class="btn btn-default" role="button">Skip</a>
  </div>
</div>
