<div id="user_content_div_main">
  <div class="container">
    <!-- User Info Row -->
    <div id="user_content_row_userInfo" class="row">
      <img class="col-md-2 img-rounded" ng-src={{user_content_profileImage}} >
      <div class="col-md-5">
        <h2>{{user_content_userName}}</h2>
        <p>User since {{user_content_dateSince}}</p>

      </div>
      <div class="col-md-offset-2 col-md-3">
        <p>Followers {{user_content_followers}}</p>
        <p>Following {{user_content_following}}</p>
        <p>Upvotes {{user_content_upvotes}}</p>
        <a href="">Follow</a>
        <a href="">Report</a>
        <a href="">Send Message</a>
      </div>
    </div>
    <!-- Nav Bar Row -->
    <div class="row">
      <!-- Content row -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
